* {
	font-family: "JetBrainsMono Nerd Font Mono ", monospace;
}

window {
	background-color: #ee5396;
	/* background-color: #78a9ff; */
	/* base00 */
	/* border-radius: 4px; */
}

#input {
	margin: 5px;
	/* padding: 6px; */
	/* border-radius: 4px; */
	border: none;
	background-color: #f2f4f8;
	/* base01 */
	color: #161616;
	/* base07 */
}

#inner-box {
	border-radius: 4px;
	background-color: #000000;
	/* base02 */
}

#outer-box {
	/* border-radius: 4px; */
	margin: 4px;
	padding: 8px;
	background-color: #000000;
	/* base02 */
}

#scroll {
	margin: 5px;
}

#text {
	padding: 6px;
	color: #ffffff;
	/* base07 */
}

#entry:nth-child(even) {
	/* border-radius: 4px; */
	background-color: #000000;
	/* base03 */
}

#entry:selected {
	border-radius: 4px;
	background-color: #78a9ff;
	/* base0D */
}

#text:selected {
	background: transparent;
	color: #ffffff;
}
